# Investigación 1
# Andrés Vargas Guevara

# JRC Geothermal Power Plant Dataset

En esta investigación se muestran los pasos que considero apropiados para realizar un pre-procesado de los datos asociados al dataset "JRC Geothermal Power Plant Dataset", el cual se puede obtener y detallar en este sitio:

https://data.europa.eu/euodp/data/dataset/jrc-10128-10001

Descripción: "Dataset of worldwide geothermal power plants including technological details"

Se elige dicho dataset debido a que, a diferencia de muchos datasets presentes en https://data.europa.eu/euodp/data/dataset, este no cuenta con un trabajo previo de análisis y visualización.
Se considera que es un dataset de dificultad moderada-baja debido a que hay datos faltantes y datos redundantes, lo que hace que el pre-procesado no sea trivial.

Primero se procede a cargar las librerías necesarias:

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

Se carga el archivo con los datos:

In [2]:
power_plants = pd.read_csv("JRC-GEOPP-DB.csv")

Se visualizan las primeras líneas:

In [3]:
power_plants.head()

,id_powerplant,name_powerplant,gross_cap_ele,ini_cap_ele,gross_cap_th,name_status,name_technology,name_subtechnology,start_year,latitude,...,min_temp,max_temp,min_flow_rate,max_flow_rate,no_units,name_geothermal_area,name_turbine_type,turbine_man,name_owner,name_operator
0,1,Gunung Salak I,60.0,60.0,0.0,in operation,Geothermal energy,Geothermal power,1994,-6.7403,...,240.0,310.0,NaN,NaN,10.0,Gunun-Salak,Single flash,Ansaldo Energia S.p.A.,PLN,PLN
1,2,Gunung Salak II,60.0,60.0,0.0,in operation,Geothermal energy,Geothermal power,1994,-6.7403,...,240.0,310.0,NaN,NaN,1.0,Gunun-Salak,Single flash,Ansaldo Energia S.p.A.,PLN,PLN
2,3,Gunung Salak III,60.0,60.0,0.0,in operation,Geothermal energy,Geothermal power,1997,-6.7403,...,240.0,310.0,NaN,NaN,3.0,Gunun-Salak,Single flash,Ansaldo Energia S.p.A.,PLN,PLN
3,4,Gunung Salak IV,65.0,65.0,NaN,in operation,Geothermal energy,Geothermal power,1997,-6.7417,...,240.0,310.0,NaN,NaN,1.0,Gunun-Salak,Single flash,Fuji Electric Co. Ltd.,Chevron Geothermal Salak,Chevron Geothermal Salak
4,5,Gunung Salak V,65.0,65.0,NaN,in operation,Geothermal energy,Geothermal power,2002,-6.7417,...,240.0,310.0,NaN,NaN,1.0,Gunun-Salak,Single flash,Fuji Electric Co. Ltd.,Chevron Geothermal Salak,Chevron Geothermal Salak

Antes de editar el dataset, se procede a capturar, en una lista, los nombres de las columnas.

In [4]:
column_names = list(power_plants.columns)
print(column_names)

['id_powerplant', 'name_powerplant', 'gross_cap_ele', 'ini_cap_ele', 'gross_cap_th', 'name_status', 'name_technology', 'name_subtechnology', 'start_year', 'latitude', 'longitude', 'exact_coordinates', 'name_region_L2', 'NUTS2_code', 'name_region_L1', 'NUTS1_code', 'name_country', 'name_continent', 'max_well_depth', 'min_temp', 'max_temp', 'min_flow_rate', 'max_flow_rate', 'no_units', 'name_geothermal_area', 'name_turbine_type', 'turbine_man', 'name_owner', 'name_operator']

Identifico el siguiente inconveniente: hay columnas que no proveen datos diferenciadores (e.g. todas las plantas en el dataset están operando, por lo que la columna "name_status" no aporta un dato útil).
Se procede a eliminar las columnas que no aportan información útil.

Eliminar las columnas "name_status", "name_technology" y "name_subtechnology".

In [5]:
del power_plants["name_status"]
del power_plants["name_technology"]
del power_plants["name_subtechnology"]

Corroborar que las columnas fueron eliminadas.

In [6]:
power_plants.head()

,id_powerplant,name_powerplant,gross_cap_ele,ini_cap_ele,gross_cap_th,start_year,latitude,longitude,exact_coordinates,name_region_L2,...,min_temp,max_temp,min_flow_rate,max_flow_rate,no_units,name_geothermal_area,name_turbine_type,turbine_man,name_owner,name_operator
0,1,Gunung Salak I,60.0,60.0,0.0,1994,-6.7403,106.673,1,NaN,...,240.0,310.0,NaN,NaN,10.0,Gunun-Salak,Single flash,Ansaldo Energia S.p.A.,PLN,PLN
1,2,Gunung Salak II,60.0,60.0,0.0,1994,-6.7403,106.673,1,NaN,...,240.0,310.0,NaN,NaN,1.0,Gunun-Salak,Single flash,Ansaldo Energia S.p.A.,PLN,PLN
2,3,Gunung Salak III,60.0,60.0,0.0,1997,-6.7403,106.673,1,NaN,...,240.0,310.0,NaN,NaN,3.0,Gunun-Salak,Single flash,Ansaldo Energia S.p.A.,PLN,PLN
3,4,Gunung Salak IV,65.0,65.0,NaN,1997,-6.7417,106.647,1,NaN,...,240.0,310.0,NaN,NaN,1.0,Gunun-Salak,Single flash,Fuji Electric Co. Ltd.,Chevron Geothermal Salak,Chevron Geothermal Salak
4,5,Gunung Salak V,65.0,65.0,NaN,2002,-6.7417,106.647,1,NaN,...,240.0,310.0,NaN,NaN,1.0,Gunun-Salak,Single flash,Fuji Electric Co. Ltd.,Chevron Geothermal Salak,Chevron Geothermal Salak

Identifico el siguiente inconveniente: hay columnas que tienen datos faltantes y que son strings (e.g. el nombre de la región no aparece en algunos casos, por lo que la columna "name_region_L2" no se puede averiguar. Además hay información más completa de la ubicación en otras columnas).
Se procede a eliminar las columnas que no aportan información útil.

Eliminar las columnas "name_region_L2", "NUTS2_code", "name_region_L1", "NUTS1_code".

In [7]:
del power_plants["name_region_L2"]
del power_plants["NUTS2_code"]
del power_plants["name_region_L1"]
del power_plants["NUTS1_code"]

Corroborar que las columnas fueron eliminadas.

In [8]:
power_plants.head()

,id_powerplant,name_powerplant,gross_cap_ele,ini_cap_ele,gross_cap_th,start_year,latitude,longitude,exact_coordinates,name_country,...,min_temp,max_temp,min_flow_rate,max_flow_rate,no_units,name_geothermal_area,name_turbine_type,turbine_man,name_owner,name_operator
0,1,Gunung Salak I,60.0,60.0,0.0,1994,-6.7403,106.673,1,Indonesia,...,240.0,310.0,NaN,NaN,10.0,Gunun-Salak,Single flash,Ansaldo Energia S.p.A.,PLN,PLN
1,2,Gunung Salak II,60.0,60.0,0.0,1994,-6.7403,106.673,1,Indonesia,...,240.0,310.0,NaN,NaN,1.0,Gunun-Salak,Single flash,Ansaldo Energia S.p.A.,PLN,PLN
2,3,Gunung Salak III,60.0,60.0,0.0,1997,-6.7403,106.673,1,Indonesia,...,240.0,310.0,NaN,NaN,3.0,Gunun-Salak,Single flash,Ansaldo Energia S.p.A.,PLN,PLN
3,4,Gunung Salak IV,65.0,65.0,NaN,1997,-6.7417,106.647,1,Indonesia,...,240.0,310.0,NaN,NaN,1.0,Gunun-Salak,Single flash,Fuji Electric Co. Ltd.,Chevron Geothermal Salak,Chevron Geothermal Salak
4,5,Gunung Salak V,65.0,65.0,NaN,2002,-6.7417,106.647,1,Indonesia,...,240.0,310.0,NaN,NaN,1.0,Gunun-Salak,Single flash,Fuji Electric Co. Ltd.,Chevron Geothermal Salak,Chevron Geothermal Salak

Identifico el siguiente inconveniente: hay columnas que tienen datos faltantes y que son integers (e.g. el valor de temperatura mínimo reportado, por lo que los valores faltantes de la columna "min_temp" se sustituyen por la mediana. Se toma esta decisión basado en el hecho de que hay un outlier, 80, que es verdadero y no se puede prescindir de él).
Se procede a reemplazar el valor NaN en las columnas con la mediana correspondiente.

In [9]:
power_plants["min_temp"].fillna((power_plants["min_temp"].median()), inplace = True)
power_plants["max_temp"].fillna((power_plants["max_temp"].median()), inplace = True)
power_plants["min_flow_rate"].fillna((power_plants["min_flow_rate"].median()), inplace = True)
power_plants["max_flow_rate"].fillna((power_plants["max_flow_rate"].median()), inplace = True)

Corroborar que las dos columnas anteriores ahora tienen el valor de la mediana en vez de NaN.

In [10]:
print(power_plants["min_temp"])

0      240.0
1      240.0
2      240.0
3      240.0
4      240.0
       ...
361    185.0
362    185.0
363    185.0
364    185.0
365    185.0
Name: min_temp, Length: 366, dtype: float64

In [11]:
print(power_plants["max_temp"])

0      310.0
1      310.0
2      310.0
3      310.0
4      310.0
       ...
361    185.0
362    185.0
363    185.0
364    185.0
365    185.0
Name: max_temp, Length: 366, dtype: float64

In [12]:
print(power_plants["min_flow_rate"])

0      150.0
1      150.0
2      150.0
3      150.0
4      150.0
       ...
361    150.0
362    150.0
363    150.0
364    150.0
365    150.0
Name: min_flow_rate, Length: 366, dtype: float64

In [13]:
print(power_plants["max_flow_rate"])

0      150.0
1      150.0
2      150.0
3      150.0
4      150.0
       ...
361    150.0
362    150.0
363    150.0
364    150.0
365    150.0
Name: max_flow_rate, Length: 366, dtype: float64

Identifico el siguiente inconveniente: hay una gran cantidad de columnas que tienen strings en vez de integers o floats (e.g. "name_country" y "turbine_man"), lo que dificulta la subsecuente aplicación de un algoritmo de reconocimiento de patrones. Por esto, propongo una simplificación del dataset y posterior encoding de ciertas columnas.

Para esto se parte del siguiente supuesto: el dataset se desea utilizar para predecir el "gross electrical capacity" (columna "gross_cap_ele") dependiendo de la capacidad eléctrica inicial, el año en que empezó a funcionar la planta, el continente en que se ubica, las temperaturas mínimas y máximas de operación, flujo mínimo y máximo, la cantidad de unidades y tipo de turbina. Considero que estas son las variables más relevantes del dataset.

Procedo a eliminar todas las columnas con datos redundantes de ubicación, las columnas que tienen datos insuficientes, y aquellas columnas con datos que considero irrelevantes para hacer la predicción planteada.

In [14]:
del power_plants["name_powerplant"]
del power_plants["gross_cap_th"]
del power_plants["latitude"]
del power_plants["longitude"]
del power_plants["exact_coordinates"]
del power_plants["name_country"]
del power_plants["max_well_depth"]
del power_plants["name_geothermal_area"]
del power_plants["turbine_man"]
del power_plants["name_owner"]
del power_plants["name_operator"]

Corroborar que las columnas fueron eliminadas.

In [15]:
power_plants.head()

,id_powerplant,gross_cap_ele,ini_cap_ele,start_year,name_continent,min_temp,max_temp,min_flow_rate,max_flow_rate,no_units,name_turbine_type
0,1,60.0,60.0,1994,Asia,240.0,310.0,150.0,150.0,10.0,Single flash
1,2,60.0,60.0,1994,Asia,240.0,310.0,150.0,150.0,1.0,Single flash
2,3,60.0,60.0,1997,Asia,240.0,310.0,150.0,150.0,3.0,Single flash
3,4,65.0,65.0,1997,Asia,240.0,310.0,150.0,150.0,1.0,Single flash
4,5,65.0,65.0,2002,Asia,240.0,310.0,150.0,150.0,1.0,Single flash

Ahora lo que procede es realizar la codificación de los valores de las dos columnas que están pobladas con strings.
Para la columna "name_continent" se define la siguiente codificación:
Asia=1, Europe=2, Oceania=3, Africa=4, North America=5, South America=6

In [16]:
power_plants["name_continent"].replace(to_replace='Asia', value = 1, inplace = True)
power_plants["name_continent"].replace(to_replace='Europe', value = 2, inplace = True)
power_plants["name_continent"].replace(to_replace='Oceania', value = 3, inplace = True)
power_plants["name_continent"].replace(to_replace='Africa', value = 4, inplace = True)
power_plants["name_continent"].replace(to_replace='North America', value = 5, inplace = True)
power_plants["name_continent"].replace(to_replace='South America', value = 6, inplace = True)

Corroborar que la columna fue codificada.

In [17]:
print(power_plants["name_continent"])

0      1
1      1
2      1
3      1
4      1
      ..
361    5
362    5
363    5
364    5
365    5
Name: name_continent, Length: 366, dtype: int64

Se realiza un procedimiento homólogo para la columna "name_turbine_type" se define la siguiente codificación:
Single flash=1, Dry steam=2, ORC=3, Double flash=4, Kalina=5, Hybrid=6, Back pressure=7, Triple flash=8, unknown=9

In [18]:
power_plants["name_turbine_type"].replace(to_replace='Single flash', value = 1, inplace = True)
power_plants["name_turbine_type"].replace(to_replace='Dry steam', value = 2, inplace = True)
power_plants["name_turbine_type"].replace(to_replace='ORC', value = 3, inplace = True)
power_plants["name_turbine_type"].replace(to_replace='Double flash', value = 4, inplace = True)
power_plants["name_turbine_type"].replace(to_replace='Kalina', value = 5, inplace = True)
power_plants["name_turbine_type"].replace(to_replace='Hybrid', value = 6, inplace = True)
power_plants["name_turbine_type"].replace(to_replace='Back pressure', value = 7, inplace = True)
power_plants["name_turbine_type"].replace(to_replace='Triple flash', value = 8, inplace = True)
power_plants["name_turbine_type"].replace(to_replace='unknown', value = 9, inplace = True)
power_plants["name_turbine_type"].replace(to_replace='Other', value = 10, inplace = True)

Corroborar que la columna fue codificada.

In [19]:
print(power_plants["name_turbine_type"])

0      1
1      1
2      1
3      1
4      1
      ..
361    3
362    3
363    3
364    3
365    3
Name: name_turbine_type, Length: 366, dtype: int64

Por último, noto que hay valores faltantes en la columna asociada a la cantidad de unidades. Para esto, reemplazo los valores faltantes con la media de la columna, ya que esta columna no presenta outliers verdaderos. Luego, realizo un redondeo para que el valor sea un número entero.

In [20]:
power_plants["no_units"].fillna((power_plants["no_units"].mean()), inplace = True)
power_plants["no_units"] = power_plants["no_units"].round()

Corroborar que la columna anterior ahora tiene el valor redondeado de la media en vez de NaN.

In [21]:
print(power_plants["no_units"])

0      10.0
1       1.0
2       3.0
3       1.0
4       1.0
       ...
361     2.0
362     2.0
363     2.0
364     2.0
365     1.0
Name: no_units, Length: 366, dtype: float64

El siguiente es el producto final del pre-procesado propuesto:

In [22]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print(power_plants)

     id_powerplant  gross_cap_ele  ini_cap_ele  start_year  name_continent  \
0                1         60.000       60.000        1994               1
1                2         60.000       60.000        1994               1
2                3         60.000       60.000        1997               1
3                4         65.000       65.000        1997               1
4                5         65.000       65.000        2002               1
5                6         65.000       65.000        2002               1
6                7        110.000      110.000        1999               1
7                8        117.000      117.000        1999               1
8                9         30.000       30.000        1983               1
9               10         55.000       55.000        1987               1
10              11         55.000       55.000        1987               1
11              12         63.000       63.000        2008               1
12              13         35.000       35.000        2015               1
13              14         55.000       55.000        1994               1
14              15         95.000       95.000        2000               1
15              16        121.000      110.000        2007               1
16              17         60.000       60.000        1998               1
17              18         55.000       55.000        2014               1
18              19         55.000       55.000        2014               1
19              20          5.000        5.000        2014               1
20              21         20.000       20.000        2001               1
21              22         20.000       20.000        2007               1
22              23         20.000       20.000        2009               1
23              24         20.000       20.000        2013               1
24              25          7.500        7.500        2017               1
25              26          2.500        2.500        2013               1
26              27         12.000       12.000        1996               1
27              28          0.100        0.100        2010               1
28              29          0.300        0.300        1989               1
29              30        110.000      110.000        1993               1
30              31         20.000       20.000        1994               1
31              33         52.000       52.000        1996               1
32              34         54.000       54.000        1999               1
33              35        112.500      112.500        1983               1
34              36         20.000       20.000        1994               1
35              37         20.000       20.000        1994               1
36              38         40.000       40.000        1995               1
37              39        112.500      112.500        1983               1
38              40         19.500       19.500        1997               1
39              41        136.480      136.480        1996               1
40              42          5.500        5.500        1996               1
41              43        232.500      232.500        1997               1
42              44         14.560       14.560        1997               1
43              45        180.000      180.000        1997               1
44              46         19.500       19.500        1997               1
45              47        120.000      120.000        1979               1
46              48        114.000      114.000        1982               1
47              49        126.400      126.400        1979               1
48              50        126.400      126.400        1980               1
49              51        110.000      110.000        1984               1
50              52         40.000       40.000        1995               1
51              53         40.000       40.000        1995               1
52              54         20.000       20.000        2014               1
53              55         26.180       26.180        1977               1
54              56          0.300        0.300        1971               1
55              59          0.400        0.400        2011               1
56              60          0.900        0.900        2012               1
57              61          8.000       14.500        1966               2
58              62         12.000       12.000        1999               2
59              63         50.000       50.000        2002               2
60              64          1.800        1.800        2007               2
61              65          3.600        3.600        2007               2
62              66         50.000       56.000        2003               3
63              67         50.000       50.000        1982               1
64              68          0.003        0.003        2013               1
65              69          0.030        0.030        2014               1
66              70          2.000        2.000        2014               1
67              71          0.020        0.020        2014               1
68              72          0.090        0.090        2014               1
69              73          0.500        0.500        2014               1
70              74          2.000        2.000        2012               1
71              75          9.500        9.500        1974               1
72              76         50.000       50.000        1995               1
73              77         23.500       23.500        1966               1
74              78         80.000       80.000        1996               1
75              79         28.800       28.800        1994               1
76              80         15.000       15.000        1975               1
77              81         65.000       65.000        1995               1
78              82          3.300        3.300        1999               1
79              83          1.900        1.900        2006               1
80              84         25.000       25.000        1996               1
81              85         12.500       12.500        1967               1
82              86        112.000      112.000        1977               1
83              87          0.990        0.990        2000               1
84              88         30.000       30.000        1996               1
85              89         30.000       30.000        1995               1
86              90          1.000        1.000        2001               2
87              91          0.200        0.200        2001               2
88              92          0.600        0.600        2001               2
89              93          4.000        5.000        1986               2
90              94         11.000       11.000        2003               2
91              95          1.500        2.100        2010               2
92              96          0.440        0.550        2009               2
93              97          7.000        5.500        2012               2
94              98          4.300        4.300        2014               2
95              99          5.500        5.500        2016               2
96             100          7.000        5.500        2013               2
97             101          4.800        4.800        2013               2
98             102          0.790        3.500        2007               2
99             103          5.000        5.000        2012               2
100            104          3.360        3.360        2007               2
101            105          3.000        3.200        1969               2
102            106        270.000      270.000        2006               2
103            107         33.000       33.000        2007               2
104            108          2.000        2.000        2000               2
105            109         66.000       66.000        1977               2
106            110          8.400        8.400        2007               2
107            111         60.000       60.000        1978               2
108            112        120.000      120.000        1998               2
109            113        100.000      100.000        2006               2
110            114         15.400       20.000        1998               2
111            115         15.400       20.000        1997               2
112            116         12.000       20.000        1994               2
113            117         12.700       20.000        2009               2
114            118         18.000       20.000        1996               2
115            119         17.800       20.000        1997               2
116            120         15.600       20.000        1997               2
117            121         10.900       10.000        2002               2
118            122          8.000       10.000        2002               2
119            123         36.200       40.000        2005               2
120            124         14.000       20.000        1996               2
121            125         16.700       20.000        2009               2
122            126         47.500       60.000        2002               2
123            127         18.300       20.000        1999               2
124            128         52.400       60.000        1995               2
125            129         14.900       14.500        2000               2
126            130         19.100       20.000        2002               2
127            131         16.600       20.000        2005               2
128            132         14.500       20.000        2002               2
129            133         13.900       20.000        2002               2
130            134         55.300       60.000        1991               2
131            135         55.300       60.000        1992               2
132            136         19.900       20.000        1998               2
133            137          1.000        1.000        2013               2
134            138         40.000       40.000        2014               2
135            139         20.000       20.000        1990               2
136            140         20.000       20.000        1991               2
137            141         20.000       20.000        1996               2
138            142         19.400       20.000        2010               2
139            143         39.500       40.000        2002               2
140            144         19.400       20.000        2010               2
141            145         14.100       20.000        1987               2
142            146         19.100       20.000        1986               2
143            147         19.100       20.000        1988               2
144            148         16.500       20.000        2000               2
145            149         38.900       40.000        2002               2
146            150          5.000        5.000        1994               2
147            151          8.000        8.000        1998               2
148            152         13.000       13.000        2006               2
149            153          0.050        0.050        2012               2
150            154         47.400       47.400        2015               2
151            155         24.000       24.000        2014               2
152            156         24.000       24.000        2015               2
153            157         24.000       24.000        2016               2
154            158         24.000       24.000        2012               2
155            159         22.000       24.000        2011               2
156            160         24.000       24.000        2012               2
157            161         25.000       25.000        2014               2
158            162         24.000       24.000        2015               2
159            163         47.400       47.400        2009               2
160            164         24.000       24.000        2016               2
161            165         45.000       45.000        2014               2
162            166         45.000       45.000        2015               2
163            167         22.500       22.500        2016               2
164            168         13.200       13.200        2014               2
165            169          7.500        7.950        2006               2
166            170          9.500       17.000        2010               2
167            171         34.000       40.000        2014               2
168            172         17.000       17.000        2016               2
169            173         14.000       14.000        2016               2
170            174         12.000       12.000        2016               2
171            175         12.000       12.000        2016               2
172            176         25.000       25.000        2016               2
173            177         25.000       25.000        2016               2
174            178          0.840        0.840        2012               2
175            179         12.000       12.000        2016               2
176            180         12.000       12.000        2016               2
177            181          6.500        6.850        2007               2
178            182         15.000       15.000        1984               2
179            183         80.000       80.000        2013               2
180            184          3.800        3.800        2015               2
181            185         24.000       24.000        2014               2
182            186         24.000       24.000        2016               2
183            187         12.000       12.000        2016               2
184            188         12.000       12.000        2016               2
185            189         45.000       45.000        2015               2
186            190          8.000        8.000        2015               2
187            191          7.500        7.500        2010               2
188            192         15.000       15.000        1981               4
189            193         15.000       15.000        1982               4
190            194         15.000       15.000        1985               4
191            195         75.000       75.000        2014               4
192            196         75.000       75.000        2014               4
193            197         35.000       35.000        2003               4
194            198         35.000       35.000        2003               4
195            199         35.000       35.000        2010               4
196            200         13.000       13.000        2000               4
197            201         71.000       71.000        2009               4
198            202         26.000       26.000        2014               4
199            203         14.500       13.000        2016               4
200            204         14.500       13.000        2016               4
201            205         70.000       70.000        2014               4
202            206         70.000       70.000        2014               4
203            207         30.000       30.000        2012               4
204            208          1.800        1.000        2007               4
205            209          2.500        1.900        2003               4
206            210         12.800       12.800        2014               4
207            211          8.300        8.300        2013               4
208            212         30.000       30.000        2014               4
209            213          2.500        2.500        2012               4
210            214          4.000        7.300        1998               4
211            215          0.120        0.120        1992               3
212            216          1.000        1.000        2013               3
213            218         40.000       40.000        1989               3
214            219         34.000       34.000        2000               3
215            220        140.000      140.000        2010               3
216            221        113.000      113.000        1999               3
217            222         82.000       82.000        2013               3
218            223        100.000      100.000        2008               3
219            224          6.400        6.400        1989               3
220            225         25.000       25.000        1998               3
221            226        136.000      136.000        1958               3
222            227         55.000       55.000        1997               3
223            228          9.000        9.000        2008               3
224            229        166.000      166.000        2014               3
225            230         23.000       23.000        2013               3
226            231         25.000       25.000        2013               3
227            232         41.500       41.500        2011               5
228            233          5.000        5.000        1994               5
229            234         55.000       55.000        1994               5
230            235         29.500       29.500        2000               5
231            236         19.000       19.000        2003               5
232            238         30.000      150.000        1973               5
233            239         85.000       88.000        1982               5
234            240        220.000      220.000        1984               5
235            241        220.000      220.000        1985               5
236            243         53.400       53.400        2012               5
237            244        100.000      100.000        2000               5
238            245         10.000       10.000        2001               5
239            246        106.000      106.000        2006               5
240            247         56.000       60.000        1975               5
241            248         28.000       35.000        1981               5
242            249         56.000       56.000        1999               5
243            250         44.000       44.000        2006               5
244            251          8.000        9.400        2008               5
245            252         25.200       24.000        2007               5
246            253         28.000       28.000        1999               5
247            254         10.000       10.000        2005               5
248            255         36.000       36.000        2013               5
249            256         36.000       36.000        2012               5
250            257          0.400        0.700        2006               5
251            258         78.000      106.000        1971               5
252            259         69.000      106.000           0               5
253            260         53.000      113.000        1985               5
254            261         52.000      113.000        1972               5
255            262         51.000      107.000        1980               5
256            263         50.000      113.000        1983               5
257            264         43.000      113.000        1985               5
258            265         42.000       72.000        1983               5
259            266         24.000       27.000        1988               5
260            267         66.000      110.000        1975               5
261            268         52.000      110.000        1979               5
262            269         48.000       97.000        1980               5
263            270         66.000       80.000        1984               5
264            271         14.000       20.000        1989               5

Finalmente, se presentan algunos gráficos que permiten visualizar mejor el dataset: